@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
	font-family: 'Happy Monkey', system-ui;
}
body {
	background-color: #362b41;
	color: white;
}

.main-container {
	display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10vh;

}
.bg-light {
	background-color: #726e75;
}

.heading-container {
	padding: 10px 30px;
	border-radius: 10px;
	text-align: center;
	font-size: 40px;
}
.square-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: 10px;
	column-gap: 10px;
  cursor: pointer;
}

.user-container {
	display: flex;
	justify-content: space-between;
  width:400px;
}
.left,
.right {
	background-color:  #726e75;
	color: white;
	width: 70px;
	height: 30px;
	padding: 10px 30px;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	border-bottom-left-radius: 50%;
	border-top-right-radius: 50%;
	text-align: center;
	font-weight: 800;
}
